.DS_Store
node_modules/
/dev/
/dist/.htaccess*
/dist/.index*
/dist/.wire*
/dist/site/assets/cache/
/dist/site/assets/files/*
!/dist/site/assets/files/1013/
/dist/site/assets/files/1013/.*
/dist/site/assets/logs/
/dist/site/assets/ProCache*
/dist/site/assets/pwpc/
/dist/site/assets/sessions/
/dist/site/config.php
/dist/site/modules/.*
