// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// Breakpoints
$xxsmall: 20em; // 320px
$xsmall: 30em; // 480px
$small: 40em; // 640px
$medium: 48em; // 768px
$large: 64em; // 1024px
$xlarge: 80em; // 1280px
$xxlarge: 90em; // 1440px

// Typography
$fs-base: 0.625em; // 10px
$lh-base: 1.25;

// Spacing
$blank-line: $lh-base * 1em;

// Easing
$swift-out: cubic-bezier(0.55, 0, 0.1, 1);
