%input-reset {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
  font: inherit;
  line-height: inherit;
  text-transform: inherit;
  //outline: none;
  appearance: none;
}

%button-reset {
  @extend %input-reset;
  user-select: none;
  cursor: pointer;
}

%link-reset {
  color: inherit;
  text-decoration: none;
}
