%input-reset {
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  // outline: none;
  appearance: none;
}

%button-reset {
  @extend %input-reset;

  cursor: pointer;
  user-select: none;
}

%link-reset {
  color: inherit;
  text-decoration: none;
}
