%ff-regular {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.019em;
}

%fw-bold {
  font-weight: 700;
}

%fs-base {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

%fs-body {
  font-size: 1.6em;
}

%fs-medium {
  font-size: 1.5em;
}
