%ff-regular {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.019em;
}

%fw-bold {
  font-weight: 700;
}

%fs-base {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

%fs-body {
  font-size: 1.6em;
}

// %fs-small {
//   font-size: 0.8em;
// }

%fs-medium {
  font-size: 1.5em;
}

%fs-xlarge {
  font-size: 2em;
  line-height: 1;

  @media (min-width: $small) {
    font-size: 5vw;
  }

  @media (min-width: $medium) {
    font-size: 8vw;
  }
}
