%ff-regular {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.019em;
}

%fw-bold {
  font-weight: 700;
}

%fs-base {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

%fs-body {
  font-size: 1.6em;
}

// %fs-small {
//   font-size: 0.8em;
// }

%fs-medium {
  @media (min-width: $medium) {
    font-size: 1.1em;
  }
}

%fs-mlarge {
  font-size: 1.5em;

  @media (min-width: $xsmall) {
    font-size: 2.3em;
  }

  @media (min-width: $medium) {
    font-size: 3.3em;
  }
}

%fs-large {
  font-size: 1.8em;

  @media (min-width: $small) {
    font-size: 8vw;
  }

  @media (min-width: $medium) {
    font-size: 12vw;
  }
}

%fs-xlarge {
  font-size: 3em;
  line-height: 1;

  @media (min-width: $small) {
    font-size: 10vw;
  }

  @media (min-width: $medium) {
    font-size: 15vw;
  }
}
