:root {
  /* Colors */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --color-focus-default: rgba(0, 0, 0, 0.075);

  /* Typography */
  --fs-base: 0.625em;
  --lh-base: 1.25;

  /* Spacing */
  --blank-line: calc(var(--lh-base) * 1em);
  --gutter: 1em;

  /* Grids */
  --resource-header-columns: auto calc(var(--gutter) * 10)
    calc(var(--gutter) * 10) calc(var(--gutter) * 10);

  /* Easing */
  --swift-out: cubic-bezier(0.55, 0, 0.1, 1);
}
