// Allow element/type selectors, because this is global CSS.
// stylelint-disable selector-max-type, selector-class-pattern

@import '../node_modules/normalize.css/normalize.css';
@import './styles/_variables.css';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('./assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('./assets/fonts/Inter-Bold.woff') format('woff');
}

html {
  @extend %fs-base;

  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @extend %ff-regular;
  @extend %fs-body;

  color: var(--black);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

a {
  @include focus-default;
  // @extend %link-reset;
}

em {
  // font-style: italic;
}

strong {
  // font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input[type='text'],
input[type='search'],
textarea {
  @include focus-default;
  @extend %input-reset;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  @include focus-default;
  @extend %button-reset;
}
