@import '../node_modules/normalize.css/normalize.css';

/*
@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/.woff2') format('woff2'),
    url('./assets/fonts/.woff') format('woff');
}
*/

html {
  @extend %fs-base;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @extend %ff-regular;
  @extend %fs-body;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  // @extend %link-reset;
}

em {
  //font-style: italic;
}

strong {
  //font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font: inherit;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  @extend %button-reset;
}
